<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.mapper.AccountMapper">
    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.alan.entity.po.Account">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="qqOpenId != null">
                qq_open_id,
            </if>
            <if test="qqAvatar != null">
                qq_avatar,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="joinTime != null">
                join_time,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="useSpace != null">
                use_space,
            </if>
            <if test="totalSpace != null">
                total_space,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="nickName!=null">
                #{nickName},
            </if>
            <if test="email!=null">
                #{email},
            </if>
            <if test="qqOpenId!=null">
                #{qqOpenId},
            </if>
            <if test="qqAvatar!=null">
                #{qqAvatar},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="joinTime!=null">
                #{joinTime},
            </if>
            <if test="lastLoginTime!=null">
                #{lastLoginTime},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="useSpace!=null">
                #{useSpace},
            </if>
            <if test="totalSpace!=null">
                #{totalSpace},
            </if>
        </trim>
    </insert>
    <!-- 根据UserId修改-->
    <update id="updateByUserId" parameterType="com.alan.entity.po.Account">
        UPDATE user_info
        <set>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where user_id=#{userId}
    </update>


    <select id="selectAccountByEmail" resultType="com.alan.entity.po.Account">
        SELECT
            *
        FROM user_info
        WHERE email = #{email}
    </select>
    <select id="selectAccountByNickName" resultType="com.alan.entity.po.Account">
        SELECT
            *
        FROM user_info
        WHERE nick_name = #{nickName}
    </select>
</mapper>